*{
    padding: 0px;
    margin: 0px;
}
.container {
    width: 1360px;
    height: 4000px;
}

.nav-container {
    width: 1360px;
    height: 165px;
}

.image1 {
    margin: 80px 0px -22px 125px;
    width: 134px;
    height: 63px;
}

.nav-link {
    width: 578px;
    padding-top: 0px;
    /* padding-left: 448px; */
    display: flex;
    font-size: small;
    font-family: sans-serif;
    justify-content: space-around;
    align-items: center;
    margin: -21px 0px 0px 610px;
}

.home {
    position: relative;
    left: 37px;
    font-size: 12px;
    color: red;
    text-decoration: none;
  }
  

.image2 {
    width: 1360px;
    height: 700px;
}

.the-joy {
    display: flex;
    position: relative; 
    font-family: sans-serif;
    margin:-31% 0px 0px 18% ;
    font-weight: 500;
}

.h1 {
    font-size: 52px;
    font-weight: 500;
    line-height: 60px;
    padding-left: 242px;
    padding-top: 20px;
    font-weight: bolder;
    font-family: sans-serif 
}


